body{
	background-image: url("images/background03.png");
	background-repeat: repeat;	
}

.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand{
	color: #000;
	font-size: 18px;
}

.navbar-brand {
	font-size: 20px;
}

.navbar-brand a:hover {
	color: #fff;
}

/*@media(max-width:768px){
   
}*/

#content{
	margin-top: 50px;
    margin-bottom: 200px;
    background-color: rgba(51, 38, 38, 0.03);
}

#slickQuiz{
	margin-top: 80px;
    margin-bottom: 430px;
    background-color: rgba(51, 38, 38, 0.03);
    padding: 50px;
}


.sessionHome{
    padding: 0 35px 0px 35px;
}

.form-control{
    margin: 0 15px 20px 0px;
    padding: 20px;
}

.video-size{
	width: 890px;
}

.btn-lg{
	margin: 15px;
}

.ss-q-title{
	font-size: 16px;
}

.ss-choices{
	list-style: none;
}

.ss-choices li{
	font-size: 16px;
}

option{
	font-size: 16px;
}

.sessionImg {
	padding: 10px;
}

footer{
	/*position: auto !important;*/
	background-color: #F5F5F5;
    color: #000;
    font-size: 16px;
    padding: 50px 30px 150px 30px;
    margin-bottom: auto; /* makes the footer fill the bottom without extra spacing below the element */
}

footer .navbar-default{
	background-color: #F5F5F5; 
	border: #F5F5F5 solid 1px;
}


footer .navbar .navbar-default .container{
	height: 100%;
}

footer a{
	color: #000;
}

